#python run-time fragments tests and runs
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv
env/
ENV/
.htmlcov/

#data NYSE stocks close history and SEC K-10 filings
data/**

#environment
.env
quant_portfolio.egg-info
build/

#development tools
.idea
.vscode